<div class="card-cottage d-flex flex-column mt-80px" [ngClass]="{'mt-80px': index !== 3}">
  <div
    class="picture-cottage"
    style="{{ 'background-image: url('+ backendUrl + cottage?.picture?.url + ')' }}"
    [ngClass]="{'align-self-end': side === 'right'}"
  ></div>
  <h4 class="mt-3"> {{ cottage?.id !== 4 ? 'Коттедж' : 'Юрт' }} "{{ cottage?.name }}"</h4>
  <div class="description mt-2">
    {{ cottage?.description }}
  </div>
  <a (click)="scrollToCottage($event)" href="#cottage{{cottage?.id}}" class="cursor-pointer text-viola mt-5 d-flex align-items-center">Подробнее <img class="ml-2" src="../../../../assets/img/arr-left.svg" alt="arr left"></a>
</div>
