<div id="leisure-container" class="mt-100px">
  <h1>{{ title ? title.title : 'Чем заняться' }}</h1>
  <h6 class="text-center white-space-pre mt-4">{{ title ? title.description : '' }}</h6>
  <div class="mt-50px wrap-items d-flex justify-content-center align-items-start flex-wrap">
    <div class="card-leisure-item d-flex flex-column align-items-center" *ngFor="let item of data">
      <div class="card-img">
        <img src="{{backendUrl + item.picture.url }}" alt="{{ 'img-' + item.name }}">
      </div>
      <div class="text-card mt-3">
        {{ item.name }}
      </div>
    </div>
  </div>
</div>
