<div id="book" class="mt-100px">
  <h1>{{ title?.title }}</h1>
  <form class="col-12" action="">
    <div class="row">
      <div class="form-group col-xl-3">
        <label for=""></label>
        <input
          type="text"
          class="input-book"
        >
      </div>
      <div class="form-group col-xl-3">
        <label for=""></label>
        <input
          type="text"
          class="input-book"
        >
      </div>
      <div class="form-group col-xl-3">
        <label for=""></label>
        <input
          type="text"
          class="input-book"
        >
      </div>
    </div>
  </form>
</div>
