#book {
  form {
    .form-group {
      margin-top: 18px;
      margin-bottom: 0;
      label {
        margin-top: 10px;
      }
      option {
        font-size: 14px;
      }
      .input-book, .select-book {
        border: 1px solid #130F26;
        border-radius: 5px;
        height: 31px;
        outline: none;
        padding: 3px 15px 3px 15px;
        font-size: 14px;
        outline: 0 !important;
        &:active, :hover, :focus {
          outline: 0 !important;
          outline-offset: 0 !important;
        }
      }
    }
  }
}

.wrapper-select {
  position: relative;
  select.select-book {
    /* Appearance: none will hide the default arrow */
    appearance: none;
    /* Best to include the browser prefix for cross-browser compatibility */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }
  &::after {
    pointer-events:none;
    position: absolute;
    /*content: "\25C0"; /* left arrow */
    /*content: "\25b6"; /* right arrow */
    /*content: "\25b2"; /* up arrow */
    content: ""; /* down arrow */
    background-image: url("../../../assets/img/arrow-down.svg");
    right: 15px;
    top: 5px;
    height: 20px;
    width: 20px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.link-reset {
  font-size: 14px;
  line-height: 19px;
  color: #3A2C51;
  text-decoration: underline;
  cursor: pointer;
}

.btn-book {
  font-size: 18px;
}

.form-control-feedback {
  p {
    margin-top: 5px;
    font-size: 12px;
    color: #e71b00;
    line-height: 1.2;
  }
}

.inp {
  input {
    width: 100%;
  }
  .cal-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
  }

}

