<div id="map" class="mt-100px">
  <h1 class="mt-50px text-left">Как добраться</h1>
  <div class="row mt-50px">
    <div class="col-xl-6" *ngFor="let map of maps">
      <div class="pic-map">
        <img class="w-100" src="{{ backendUrl + map.picture.url }}" alt="map {{ map.title }}" >
      </div>
      <div class="title-map mt-4">
        <h4>
          {{ map.title }}
        </h4>
      </div>
      <div class="description" [innerHTML]="map.description | marked"></div>
    </div>
  </div>
</div>
