<div id="cottage-description" class="mt-100px">
  <h4 class="text-uppercase">Коттедж "{{ cottage ? cottage.name : '' }}"</h4>
  <div class="row mt-3">
    <div class="main-pic {{ cottage?.plan ? 'col-xl-8' : 'col-4' }}">
      <img src="{{ backendUrl + cottage?.main_picture?.url }}" alt="Main cottage pic {{ cottage?.name }}">
    </div>
    <div *ngIf="cottage?.plan" class="col-xl-4 plan">
      <img src="{{ backendUrl + cottage?.plan?.url }}" alt="Cottage plan pic {{ cottage?.name }}">
    </div>
    <div *ngIf="cottage?.carousel_pictures?.length" class="cottage-carousel col-xl-12 mt-4">
      <owl-carousel-o [options]="customOptions" [className]="'row'">
        <ng-container *ngFor="let slide of cottage?.carousel_pictures; index as i">
          <ng-template carouselSlide id="slide.id">
            <div class="col-12">
              <img [src]="backendUrl + slide.url">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="d-flex flex-column {{ cottage?.plan ? 'col-xl-12' : 'col-8 pl-5' }}">
      <div *ngIf="cottage?.addInfo?.bedroom != 0" class="mt-5 w-100">
        <div class="cottage-title">
          <div class="d-flex align-items-center">
            Коттедж {{ cottage?.name }}
            <img src="../../../assets/img/point.svg" alt="">
            {{ cottage?.addInfo?.bedroom || '' }}
            <img src="../../../assets/img/point.svg" alt="">
            {{ cottage?.addInfo?.kitchen || '' }}
            <img src="../../../assets/img/point.svg" alt="">
            {{ cottage?.addInfo?.bathroom || '' }}
            <img src="../../../assets/img/point.svg" alt="">
            {{ cottage?.addInfo?.terrace || '' }}
            <img src="../../../assets/img/point.svg" alt="">
            {{ cottage?.addInfo?.area || '' }}
          </div>
        </div>
      </div>
      <div class="w-100 addresses  {{ cottage?.addInfo?.bedroom != 0 ? 'mt-4' : '' }}" style="margin-top: -5px">
        <div class="address">Адрес 1: {{ cottage?.address_1 }}</div>
        <div class="address mt-2">Адрес 2: {{ cottage?.address_2 }}</div>
      </div>
      <div class="w-100 description mt-4">
        {{ cottage?.description }}
        <a class="a-more cursor-pointer text-viola mt-5 d-flex align-items-center">Подробнее <img class="ml-2" src="../../../../assets/img/arr-left.svg" alt="arr left"></a>
      </div>
      <div class="w-100 prices mt-5">
        <div class="price-title">
          <h6>Стоимость аренды {{cottage?.id !== 4 ? 'коттеджа' : 'юрты'}} {{ cottage?.name }}</h6>
        </div>
        <h6 class="price-per-day mt-3">
          {{ cottage?.price_per_day }} руб/сутки
        </h6>
        <h3 class="price-per-month mt-3">
          {{ cottage?.price_per_month }} руб/месяц
        </h3>
        <button class="btn-normal btn-viola mt-3">Забронировать</button>
      </div>
    </div>

  </div>
</div>
