<footer id="footer" class="d-flex mt-100px">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 w-100 col-12">
        <img src="assets/img/logo_white.svg" alt="">
      </div>
      <div class="col-xl-6 d-flex justify-content-start mt-3">
        <div class="col-6 d-flex flex-column">
          <span class="title-footer">
            Ссылки
          </span>
          <div class="text-footer d-flex flex-column mt-3">
            <p><a href="">Коттедж Тихое место</a></p>
            <p><a href="">Коттедж Алые паруса</a></p>
            <p><a href="">Коттедж Старые товарищи</a></p>
            <p><a href="">Юрт Лесная хижина</a></p>
          </div>
        </div>
        <div class="col-6 d-flex flex-column">
          <span class="title-footer">
            Контакты
          </span>
          <div class="text-footer d-flex flex-column mt-3">
            <p><a href="">+7 (495) 118-2822</a></p>
            <p><a href="">arendadacha@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 d-flex justify-content-end mt-3">
        <div class="col-6 d-flex flex-column">
          <span class="title-footer">
            Офис
          </span>
          <div class="text-footer d-flex flex-column mt-3">
            <p><a href="">ул.Алабяна, дом 12,
              корп.3, Москва, РФ</a></p>
          </div>
        </div>
        <div class="col-6">
          <span class="title-footer">
            Адреса посёлков
          </span>
          <div class="text-footer d-flex flex-column mt-3">
            <p>
              Московская область,
              Можайский городской округ,
              Бородино, д.Косьмово
            </p>
            <p>
              Тверская область,
              Кимрский район,
              коттеджный посёлок Речной
            </p>
          </div>
        </div>
      </div>
      <p class="text-center text-white mt-50px pb-3 col-12" style="font-size: 14px">
        © 2021, DachaLeto. All rights reserved.
      </p>
    </div>
  </div>
</footer>
