<header class="py-2">
  <div class="container">
    <nav class="d-flex align-items-center">
      <div class="logo">
        <img src="../../../assets/img/logo-header.svg" alt="Logo Header">
      </div>
      <div class="nav-items d-flex">
        <a href="">Коттеджи</a>
        <a href="">Забронировать</a>
        <a href="">Чем заняться</a>
        <a href="">Местоположение</a>
      </div>
      <div id="add-info">
        <a id="number-header" href="tel:74951182822">+7 (495) 118-2822</a>
      </div>
    </nav>
  </div>
</header>
